pool_fish.png
pool.png
raytracing_2021.pdf
scenes/
‏‏scenes/Pool_fish.txt
‏‏scenes/Pool.txt
‏‏scenes/Room1_fish.txt
‏‏scenes/Room1.txt
‏‏scenes/Spheres.txt
‏‏scenes/Transparency.txt
Orb.png
orb.txt
planeTest.png
planeTest.txt
PoolOneOrb.png
PoolOneOrb.txt
.vscode/launch.json
Spheres.txt
